body > table{
    width: 100%;
}

table{
    border-collapse: collapse;
}

table.list{
    width: 100%;
}

td,th{
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table,list thead>tr{
    background-color:aqua;
}
input[type= text],input[type=number]{
    width: 100%;
    padding: 12 20px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #ddd;
    border-radius: 4px;
}
input[type=submit]{
    text-align: left;

}